@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-canada-big {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }